:root{
    --cor-primaria: #182c61 ;
    --cor-secundaria: #ecf0f1;
    --cor-hover: #5b7edd ;
    --fonte-primaria: "Bungee", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
input,
textarea {
    font-family: var(--fonte-secundaria);
}

header,
h1,
h2, 
h3, 
form button {
    font-family: var(--fonte-primaria);
    font-weight: normal;
}

li,
a {
    text-decoration: none;
}

header {
    padding: 16px 0;
    background-color: var(--cor-primaria) ;
    color: var(--cor-secundaria);
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: var(--cor-secundaria);
    font-size: 1.2rem;
}

header nav li a:hover{
    color: var(--cor-hover);
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li a {
    color: var(--cor-secundaria);
}

main {
    padding: 1.5rem 0 ;
    color: var(--cor-primaria);
}

main h2 {
    margin-bottom: 1rem;
}

main p {
    margin-bottom: 0.5rem;
    text-align: justify;
}
main .container {
    align-items: flex-start;
    gap: 2rem;
}

/* .brands-list,
.social-links {
    display: flex;
    gap: 16px
} */

.brands-list img,
.social-links img {
    height: 24px;
    padding-right: 20px;
}

.brands-list li,
.social-links li {
    display: inline;
}

#about,
#contact {
    padding: 24px 0;
}

#contact .container {
    display: block;

}

.contact-methods {
    display: flex;
    justify-content: space-between;
} 

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

h3 {
    margin-bottom: 16px;
}

form button {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor-hover);
}

input:focus,
textarea:focus {
    outline-color: var(--cor-primaria) ;
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 16px 0;
}

footer p {
    padding: 10px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;

}