:root {
    --cor-primaria: #0787b6;
    --cor-secundaria: #ecf0f1;
    --cor-fundo: #e6e5e5;
    --cor-hover: #006581;
    --fonte-primaria: "Bungee", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-fundo);
}

header,
h1,
h2,
h3,
form button {
    font-family: var(--fonte-primaria);
    font-weight: normal;
}

h2,
h3 {
    margin-bottom: 40px;
    text-align: center;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}



header .container,
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 16px 0;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

header nav li {
    font-size: 1.2rem;
    width: 180px;
    text-align: center;
}

header nav li a {
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
    padding: 7px 15px;
    width: 100%;
    display: block;
}

header nav li a:hover {
    background-color: var(--cor-hover);
}

main {
    padding: 1.5rem 0;
    color: var(--cor-primaria);
}

#about,
#contact {
    padding: 24px 0;
}

main .container {
    align-items: flex-start;
    gap: 2rem;
}

.dev {
    max-width: 50%;
}

.dev-2-container {}

.dev-2 {
    display: none;
    margin-bottom: 20px;
}

main h2 {
    margin-bottom: 1rem;
}

main p {
    margin-bottom: 0.5rem;
    text-align: justify;
}

#contact .container {
    display: block;

}

.contact-methods {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-more {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.preprojects {
    display: flex;
    justify-content: space-evenly;
}

.preprojects-links {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.preprojects-links li {
    font-size: 1.2rem;
    width: 170px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.preprojects-links li a {
    color: var(--cor-primaria);
    text-align: center;
    border: 2px solid var(--cor-primaria);
    border-radius: 20px;
    padding: 7px 15px;
    width: 100%;
    display: block;
}

.preprojects-links li a:hover {
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
    color: var(--cor-secundaria);
    text-align: center;
}


.container-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor-hover);
}

input:focus,
textarea:focus {
    outline-color: var(--cor-primaria);
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 16px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    gap: 5px;

}

footer p {
    padding: 10px 0;
    text-align: center;
}

.social-media-rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1300px) {

    .container {
        max-width: 1300px;
        width: 95%;
        /* margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px; */
    }
}


@media (max-width: 1023px) {


    .contact-methods {
        align-items: flex-start;
    }

    .preprojects {
        flex-direction: column;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 767px) {

    main {
        padding: 2rem 0;
    }

    #about {
        padding: 0;
    }

    .dev {
        display: none;

    }

    .dev-2-container {
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }

    .dev-2 {
        display: flex;
    }

    h1 {
        width: 100%;
        text-align: center;
    }


    header .container {
        width: 100%;
    }

    header nav {
        position: fixed;
        z-index: 99;
        bottom: 0;
        background-color: var(--cor-primaria);
        width: 100%;
    }

    header nav ul {
        align-content: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 20px 10px;
    }

    header nav li {
        font-size: 0.9rem;
    }

    .contact-methods {
        flex-direction: column;

    }

    .contact-more {
        width: 100%;
    }

    .container-form,
    .preprojects {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .preprojects h3 {
        text-align: center;
    }

    .dev-2 {
        max-width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0 2%;
    }

    form input,
    form textarea,
    form button {
        width: 100%;
    }

    .preprojects li {
        justify-content: center;
    }

    .footer {
        display: none;
    }
}

@media (max-width: 300px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    header nav li {
        font-size: 0.8rem;
    }

    main {
        padding: 4rem 0;
    }
}